.banner__menu {
	position: relative;
	overflow: hidden;
}

.banner__menu img {
	min-height: 275px;
	max-height: 383px;
	width: 100%;
	object-fit: cover;
	object-position: center;
	margin-bottom: -20px;
}

@media (min-width: 1024px) {
	.banner__menu img {
		object-position: 50% 61%;
	}
}
