* {
	font-family: 'Roboto', sans-serif;
	text-rendering: optimizeLegibility;
}

body {
	margin: 0;
	padding: 0;
}

.btn {
	height: 50px;
	width: 218px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(
		193.33deg,
		#9356dc -11.44%,
		#ff79da 123.93%
	);
	box-shadow: 0px 4px 10px 0px #00000040;
	color: white;
	text-decoration: none;
	border-radius: 25px;
	font-size: 16px;
	font-weight: 500;
	border: none;
}

@mixin card {
	border-radius: 15px;
	box-shadow: 0px 4px 15px 0px #0000001a;
}
