.footer {
	background: $footer-bg;
	height: 186px;
	padding-top: 25px;
	box-sizing: border-box;

	h4 {
		font-family: 'Shrikhand', 'cursive';
		font-size: 19px;
		font-weight: 400;
		color: white;
		margin: 0;
	}
}

.footer__list {
	list-style: none;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin-bottom: 0;
	margin-top: 10px;
	gap: 8px;

	li:nth-child(1) {
		margin-right: 8px;
	}

	li:nth-child(1),
	li:nth-child(2) {
		font-weight: 500;
	}

	li:nth-child(3),
	li:nth-child(4) {
		font-weight: 400;
	}

	a {
		text-decoration: none;
		color: white;

		svg {
			fill: white;
			width: 14.5px;
			height: 13px;
			margin-right: 8px;
		}
	}
}

@media (min-width: 1024px) {
	.footer {
		display: flex;
		flex-direction: row-reverse;
		align-items: flex-end;
		height: 114px;

		h4 {
			margin: 0 60px 10px 60px;
		}
	}

	.footer__list {
		flex-direction: row;
		margin-top: 0;
		align-items: center;
		margin-bottom: 14px;
	}

	.footer__list li:nth-child(2) {
		margin-right: 30px;
	}
}
