.functioning {
	h3 {
		font-size: 24px;
		font-weight: 700;
	}
}

.functioning__card {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;

	.card__content {
		display: flex;
		flex-direction: row-reverse;
		justify-content: start;
		align-items: center;
		gap: 20px;
		background: $primary-bg;
		border-radius: 20px;
		width: 100%;
		height: 72px;
		padding-left: 30px;
		z-index: -1;
		box-shadow: 0px 4px 15px 0px #00000026;

		h4 {
			font-size: 16px;
			font-weight: 500;
		}

		svg {
			height: 18px;
			width: 18px;
			fill: $functioning-svg-clr;
		}

		.svg__store {
			fill: $primary-clr;
		}
	}

	p {
		display: flex;
		align-items: center;
		justify-content: center;
		background: $primary-clr;
		min-width: 24px;
		min-height: 24px;
		font-size: 14px;
		color: white;
		border-radius: 50%;
		margin-right: -12px;
	}
}

@media (min-width: 1024px) {
	.functioning {
		padding: 50px 180px;
	}

	.functioning__cards {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		padding-right: 50px;

		.functioning__card {
			width: 32%;
			justify-content: flex-end;
			margin: 0;

			.card__content {
				width: 100%;
			}
		}
	}
}
