.location {
	display: flex;
	justify-content: center;
	background: $location-background-color;
	gap: 10px;
	box-shadow: 0px 4px 4px 0px #00000040;
	color: $location-text-color;
	font-size: 16px;
	font-weight: 500;
	height: 50px;
	position: relative;
	z-index: 1;

	i {
		width: 12px;
		height: 16px;
		align-self: center;
		fill: $location-text-color;
	}

	form {
		display: flex;

		input {
			border: none;
			background: $location-background-color;
			font-size: 16px;
			font-weight: 500;
			width: 109px;
		}
	}
}
