.menu {
	margin-top: -34px;
	border-radius: 32px 32px 0 0;
	background: $background-primary;
	z-index: 1;
	position: relative;
	padding-bottom: 40px;

	.section__title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include heart;

		h2 {
			font-weight: 400;
			font-family: 'Shrikhand', 'cursive';
			font-size: 28px;
		}

		i {
			font-size: 21px;
			margin-right: 18px;
		}
	}

	.card__link {
		text-decoration: none;
		color: black;

		.card {
			@include card;
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			padding: 15px;
			margin-bottom: 12px;
		}
	}

	.starters__section,
	.dishes__section,
	.desserts__section {
		margin-bottom: 40px;

		h3 {
			font-weight: 300;
			font-size: 16px;
			margin-bottom: 0;
		}

		hr {
			width: 40px;
			height: 3px;
			background: $validation-color;
			margin-top: 5px;
			margin-left: 0;
			margin-bottom: 15px;
			border: none;
		}
	}
}

.card__menu {
	h4,
	p {
		margin: 0;
	}

	h4 {
		font-weight: 500;
		font-size: 18px;
		margin-bottom: 3px;
	}

	p {
		font-weight: 300;
		font-size: 15px;
	}
}

.card__price {
	margin: 0;
	font-size: 15px;
	font-weight: 700;
	color: $text-color;
}

@media (min-width: 1024px) {
	.menu {
		.section__title {
			justify-content: center;
			gap: 30px;
		}
	}

	.section__title,
	.starters__section,
	.dishes__section,
	.desserts__section {
		max-width: 634px;
		margin: auto;
	}
}
