.restaurants {
	background: $background-primary;
	margin-top: 30px;
	padding-top: 10px;
	padding-bottom: 50px;

	h3 {
		font-size: 24px;
		font-weight: 700;
	}

	.cards {
		display: flex;
		flex-direction: column;
		gap: 18px;
		justify-content: space-between;
	}

	a {
		display: inline-block;
		width: 100%;
		text-decoration: none;
		color: black;

		.card {
			@include card;
			position: relative;
		}

		img {
			height: 165px;
			width: 100%;
			border-top-left-radius: 15px;
			border-top-right-radius: 15px;
			object-fit: cover;
		}
	}
}

.restaurants {
	.badge__new {
		position: absolute;
		top: 1rem;
		right: 0.75rem;
		background: $validation-color;
		padding: 5px;
		font-size: 14px;
		font-weight: 500;
		color: $badge-text-color;
		margin: 0;
	}

	.card__content {
		display: flex;
		justify-content: space-between;
		padding: 15px;
		align-items: center;

		h4,
		p {
			margin: 0;
			padding-bottom: 5px;
		}

		i {
			font-size: 22px;
		}
	}
}

@media (min-width: 1024px) {
	.restaurants {
		padding: 50px 180px;

		.cards {
			flex-direction: row;
			flex-wrap: wrap;
			gap: 50px;
		}

		a {
			width: 45.2%;
		}
	}
}
