$primary-bg: #f6f6f6;
$secondary-bg: #ffffff;
$tertiary-bg: #eaeaea;
$primary-clr: #9356dc;
$secondary-clr: #ff79da;
$tertiary-clr: #99e2d0;
$badge-txt-clr: #008766;
$svg-clr: #353535;
$txt-clr: #353535;
$footer-bg: #353535;
$functioning-svg-clr: #7e7e7e;
$btn-gradient-bg: linear-gradient(
	356deg,
	#9356dc -11.44%,
	#ff79da 123.93%
);
