$background-color: #f6f6f6;
$button-color: #9356dc;
$badge-text-color: #008766;
$validation-color: #99e2d0;
$location-background-color: #eaeaea;
$location-text-color: #353535;
$functioning-svg-color: #7e7e7e;
