$background-primary: #f6f6f6;
$background-secondary: #eaeaea;
$button-color: #9356dc;
$badge-text-color: #008766;
$badge-and-validation-bg: #99e2d0;
$text-color: #353535;
$functioning-color: #7e7e7e;
$button-gradient: linear-gradient(
	356deg,
	#9356dc -11.44%,
	#ff79da 123.93%
);
